h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  padding-top: 24px;
  color: black;
}
h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding-left: 24px;
  width: 20%;
  color: black;
}
img {
  float: right;
  width: 500px;
}
.column {
  width: 300px;
  float: left;
}
.background {
  background-color: black;
}