h1 {
  font-family: 'Trebuchet MS';
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding-top: 24px;
  color: black;
}
h2 {
  font-family: 'Trebuchet MS';
  font-size: 14px;
  font-weight: bold;
  padding-left: 24px;
  width: 20%;
  color: black;
}
h3 {
    float: inline-start;
    width: 65%;
    margin-left: 48px;
    margin-right: 48px;
    font-family: 'Trebuchet MS';
    font-size: 14px;
    font-weight: light;
    padding-left: 48px;
    color: black;
    box-sizing: border-box;
}
img {
  float: right;
  width: 600px;
}
.column {
  width: 200px;
  float: left;
}
.background {
  background-color: black;
}